div#fixedElems{
    position: fixed;
    left: 20px;
    bottom: 20px;
    button{
        width: 70px;
        height: 60px;
        box-shadow: rgba(0,0,0,0.25) 0px 0px 1px 0.5px !important;
        border: none;
        border-radius: 12px;
        margin-bottom: 10px;
        background-color: white;
        img{
            width: 35px;
        }
    }
}

div#Coffee{
    overflow: hidden !important;
    width: 70px;
    height: 60px;
}

.bmc-btn-container {
    width: 70px;
    margin-right: 0 !important;
    padding-right: 0 !important;
    transition: 0.15s ease-out;
    .bmc-btn-text{
        display: none;
    }
    .bmc-btn{
        background-color: white!important;
        box-shadow: rgba(0,0,0,0.25) 0px 0px 1px 0.5px !important;
        padding-right: 0 !important;
        min-width: 100% !important;
        svg path{
            fill: var(--primary-color) !important;
            &.logo-outline{
                fill: black!important;
            }
        }
    }
    span{
        color: black !important;
        position: absolute !important;
        margin-top: 4px;
        width: 200px;
        left: 75px;
        font-family: Gilroy, sans-serif !important;
        font-weight: normal;
        transition: 0.15s ease-out;
    }    
}