<div id="fixedElems">
    <button><img src="github.svg" alt=""></button>

    <div id="coffee">
        <script type="text/javascript" src="https://cdnjs.buymeacoffee.com/1.0.0/button.prod.min.js"
            data-name="bmc-button" data-slug="yamanziadeh" data-color="#ffffff" data-emoji="" data-font="Lato"
            data-text="Buy me a coffee!" data-outline-color="white" data-font-color="#000000"
            data-coffee-color="#FFDD00"></script>
    </div>
</div>