<% if (locals.errorMessage){ %>
<div class="msg" id="errorMsg">
    <p><%= errorMessage %></p>
</div>
<%}%>
    <% if (locals.successMessage){ %>
<div class="msg" id="successMsg">
    <p><%= successMessage %></p>
</div>
<%}%>