<% if (locals.errorMessage){ %>
<div id="errorMsg">
    <p>Error: <%= errorMessage %></p>
</div>
<%}%>
    <% if (locals.successMessage){ %>
<div id="successMsg">
    <p>Success: <%= successMessage %></p>
</div>
<%}%>