<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="Stock Tracker will send periodic text messages to the user informing them of important news, sentiments, and information about their chosen stocks">
    <meta name="keywords" content="stocks, stock trading, trading, stock tracker, trading platform">
    <title>Stock Tracker | Home</title>

    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="messages.css">
    <link rel="stylesheet" href="dashboard.css">
    <link rel="stylesheet" href="fixedElems.css">
</head>

<body>
    <%- include('./partials/messages.ejs') %>
    <section>
        <div id="header">
            <h1><a href="/">StockTxt</a></h1>
        </div>
        <div id="dashboard" class="form">
            <h3>Dashboard</h3>
            <p id="userName"><%= locals.user.username %></p>
            <div id="toggleContainer">
                <div class="toggle">
                    <p class="toggleTitle">Daily Texts</p>
                    <button class="switch on">
                        <div id="on">
                            <p>On</p>
                        </div>
                        <div id="off">
                            <p>Off</p>
                        </div>
                    </button>
                </div>
                <div class="toggle">
                    <p class="toggleTitle">Weekly Texts</p>
                    <button class="switch off">
                        <div id="on">
                            <p>On</p>
                        </div>
                        <div id="off">
                            <p>Off</p>
                        </div>
                    </button>
                </div>
                <div class="toggle">
                    <p class="toggleTitle">Monthly Texts</p>
                    <button class="switch on">
                        <div id="on">
                            <p>On</p>
                        </div>
                        <div id="off">
                            <p>Off</p>
                        </div>
                    </button>
                </div>
            </div>
            <form action="logout" method="POST">
                <input type="submit" value="Logout">
            </form>
        </div>
    </section>

    <%- include('./partials/fixedElems.ejs') %>
    <!-- JS Files -->
    <script src="packages/jquery-3.5.1.min.js"></script>
    <script src="toggles.js"></script>
    <script src="main.js"></script>
</body>

</html>