<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="Stock Tracker will send periodic text messages to the user informing them of important news, sentiments, and information about their chosen stocks">
    <meta name="keywords" content="stocks, stock trading, trading, stock tracker, trading platform">
    <title>StockTxt | Home</title>

    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="home.css">
    <link rel="stylesheet" href="messages.css">
    <link rel="stylesheet" href="coffee.css">
</head>

<body>
    <%- include('./partials/messages.ejs') %>
    <section>
        <div id="header">
            <h1>StockTxt</h1>
            <p>The Most Profitable Stocks sent directly to You!</p>
            <div id="buttons">
                <button id="loginBtn" type="button" onclick="location.href='/login'">
                    <img src="loginIcon.svg" alt="loginIcon">
                    Login
                </button>
                <button id="registerBtn" type="button" onclick="location.href='/signup'">
                    <img src="registerIcon.svg" alt="registerIcon">
                    Register
                </button>
            </div>
            <button id="scrollDown">
                <img src="downArrow.svg" alt="">
            </button>
        </div>
    </section>
    <section>
        <div id="info">
            <div class="fadein" id="gridSection">
                <div id="content">
                    <div>
                        <h2>Monthly Predictions!</h2>
                        <p>A monthly text of the predicted top-performing stocks for the upcoming month through accurate
                            algorithms!</p>
                        <button>Read More!</button>
                    </div>
                </div>
                <div id="imgContainer">
                    <img src="desktopInfo.svg" alt="">
                </div>
            </div>
            <div class="fadein" id="gridSection">
                <div id="imgContainer">
                    <img id="secondImg" src="earningsInfo.svg" alt="">
                </div>
                <div id="content">
                    <div id="secondContent">
                        <h2>Weekly Earnings!</h2>
                        <p>A weekly text of the upcoming earnings of top S&P500 stocks. Earnings tend to cause a
                            dramatic
                            shift
                            in stock prices!</p>
                        <button>Read More!</button>
                    </div>
                </div>
            </div>
            <div class="fadein" id="gridSection">
                <div id="content">
                    <div>
                        <h2>Daily Sentiments!</h2>
                        <p>A daily pre-market text of the top 5 S&P500 Stocks with the highest sentiment ratings on all
                            social
                            media platforms!</p>
                        <button>Read More!</button>
                    </div>
                </div>
                <div id="imgContainer">
                    <img src="sentimentInfo.svg" alt="">
                </div>
            </div>
        </div>
    </section>
    <section>
        <div id="cashback">
            <div id="imgContainer"><img src="cashLeft.svg" alt=""></div>
            <div id="content">
                <h2>Limited Users!</h2>
                <p>We only offer access to <span>
                        <%=locals.numUsers%> users
                    </span> at a time! This is done so we can solely
                    focus on providing our limited users with the <span>best quality service</span>
                    and the <span>best possible data.</span> Register an account before the spots run out. If we don't
                    have available spots, we will soon add more!
                </p>
            </div>
            <div id="imgContainer"><img src="cashRight.svg" alt=""></div>
        </div>
    </section>
    <section>
        <div id="footer">
            <div>
                <p>Only <span><%= locals.count %></span> Spots Left!</p>
                <button id="registerBtn" type="button" onclick="location.href='/signup'">
                    <img src="registerIcon.svg" alt="registerIcon">
                    Register
                </button>
            </div>
        </div>
        <ul>
            <li><a href="#">Legal</a></li> .
            <li><a href="#">Contact</a></li> .
            <li><a href="#">Policies</a></li>
        </ul>
    </section>

    <!-- Coffee -->
    <script type="text/javascript" src="https://cdnjs.buymeacoffee.com/1.0.0/button.prod.min.js" data-name="bmc-button"
        data-slug="yamanziadeh" data-color="#ffffff" data-emoji="" data-font="Lato" data-text="Buy me a coffee!"
        data-outline-color="white" data-font-color="#000000" data-coffee-color="#FFDD00"></script>

    <!-- JS Files -->
    <script src="packages/jquery-3.5.1.min.js"></script>

    <!--
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/ScrollMagic.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/plugins/animation.gsap.min.js"></script>
    -->
    <script src="main.js"></script>
</body>

</html>