<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="Stock Tracker will send periodic text messages to the user informing them of important news, sentiments, and information about their chosen stocks">
    <meta name="keywords" content="stocks, stock trading, trading, stock tracker, trading platform">
    <title>StockTxt | Sign up</title>

    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="messages.css">
    <link rel="stylesheet" href="forms.css">
    <link rel="stylesheet" href="fixedElems.css">
</head>

<body>
    <%- include('./partials/messages.ejs') %>
    <section>
        <div id="header">
            <h1><a href="/">StockTxt</a></h1>
        </div>
        <div id="register" class="form">
            <form action="signup" method="POST">
                <input placeholder="Full Name" type="text" name="username" id="username" required><br />
                <input placeholder="Phone Number" type="text" name="phonenumber" id="phonenumber" required><br />
                <input placeholder="Password" type="password" name="password" id="password" required><br />
                <a href="login">Already have an account?</a>
                <input type="submit" value="Register">
            </form>
        </div>
    </section>

    <%- include('./partials/fixedElems.ejs') %>

    <!-- JS Files -->
    <script src="main.js"></script>
</body>

</html>